# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=jxxmd16 
DB_DATABASE=biblioteca_db

JWT_SECRET=Chat_GPT_No_Estuvo_Aqui

PROM_URL=http://localhost:9090
GEMINI_API_KEY=API_KEY_GOOGLE
GEMINI_MODEL=gemini-2.5-flash

